.cart {
  &__title {
    &:not(:last-child) {
      @include adaptiveValue('margin-bottom', 30, 20);
    }
  }
}

.main-cart {
  @include adaptiveValue('padding-bottom', 108, 30);
  min-width: 0;
  height: 100%;
  @media (min-width: $tablet) {
    @include adaptiveValue('column-gap', 93, 15, 0, $containerWidth, 992);
    grid-template-columns: 54.3% 1fr;
  }
  display: grid;
  grid-template-columns: 1fr;
  row-gap: rem(30);
}

.slider-main-cart {
  display: grid;
  min-height: 0;
  max-height: rem(1265);
  @media (min-width: $tablet) {
    @include adaptiveValue('max-height', 1265, 900, 0, $containerWidth, 992);
  }
  height: 100%;
  min-width: 0;

  &__slider {
    height: 100%;
    position: relative;
  }

  &__arrow-prev,
  &__arrow-next {
    @media (min-width: $tablet) {
      display: none;
    }
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
  &__arrow-next {
    left: auto;
    right: 0;
  }
}

.slide-cart {
  width: 100%;
  display: grid;
  grid-template-columns: percent(432, 986) 1fr;
  column-gap: percent(30, 986);
  @media (max-width: em(400)) {
    grid-template-columns: 1fr;
    column-gap: 0;
    row-gap: rem(20);
    height: 100%;
  }
  &__img-ibg {
    padding-bottom: percent(400, 432);
  }

  &__body {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: rem(10);
    justify-self: start;
    padding-right: rem(10);
  }

  &__model {
    @include adaptiveValue('font-size', 16, 12);
    color: #6b7280;
  }

  &__name {
    font-weight: 600;
    @include adaptiveValue('font-size', 24, 16);
    line-height: 1;
    color: #1f2937;
  }

  &__btns {
    display: flex;
    align-items: center;
    column-gap: rem(15);
    @media (min-width: $mobile) {
      @include adaptiveValue('column-gap', 48, 15, 0, $containerWidth, 768);
    }
  }

  &__button {
    text-decoration: underline;
    @include adaptiveValue('font-size', 20, 14);
    transition: color 0.3s ease;
    @media (any-hover: hover) {
      &:hover {
        color: #ca2626;
        color: #e26f6f;
      }
    }
    &_add-to-favorite {
      @media (any-hover: hover) {
        &:hover {
          color: $mainBlue;
        }
      }
    }

    &_remove {
      color: #ca2626;
    }
  }
}

.details-slide-cart {
  @include adaptiveValue('font-size', 20, 12);
  color: #6b7280;
  &__item {
    display: flex;
    column-gap: rem(5);
    &:not(:last-child) {
      @include adaptiveValue('margin-bottom', 25, 5);
    }
  }
}

.payback-cart {
  display: grid;
  align-content: flex-start;
  @include adaptiveValue('row-gap', 25, 15);

  &__info {
    border: 1px solid #c9c9c9;
    border-radius: rem(6);
    padding: em(4, 16) em(12, 16);
    display: flex;
    align-items: center;
    column-gap: em(10, 16);
    @include adaptiveValue('font-size', 16, 12);
    &::before {
      font-size: em(24, 16);
      color: $mainBlue;
    }
  }
}

.form-payback-cart {
  @include adaptiveValue('font-size', 20, 16);
  padding: em(16, 20);
  border: 1px solid #c9c9c9;
  border-radius: rem(6);
  display: grid;
  row-gap: em(12, 20);
  &__title {
    font-weight: 600;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: start;
    column-gap: em(10, 20);
    &::before {
      color: $mainBlue;
      font-size: em(18, 20);
    }
  }

  &__text {
    @include adaptiveValue('font-size', 16, 12);
  }
}

.form-payback {
  @include adaptiveValue('font-size', 20, 14);
  display: flex;
  align-items: center;
  column-gap: em(16, 20);
  &__input {
    min-height: em(42, 20);
    flex: 0 0 percent(415, 740);
    padding: rem(0) em(24, 20);
    border: 1px solid #a6a6a6;
    border-radius: rem(5);
    &::placeholder {
      color: #b4b4b4;
    }
  }

  &__btn {
    width: em(47, 20);
    height: em(47, 20);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: $mainBlue;
    transition: background-color 0.3s ease;
    color: #fff;
    &::before {
      font-size: em(18, 20);
      transform: rotate(-180deg);
    }
    @media (any-hover: hover) {
      &:hover {
        background-color: #255a8c;
      }
    }
  }
}

.total-payback-cart {
  background: #eaf1f8;
  border: 1px solid #99b5cf;
  border-radius: rem(11);
  padding: em(24, 16);
  display: grid;
  align-content: start;
  @include adaptiveValue('font-size', 16, 12);
  line-height: math.div(24, 16);

  &__list {
    display: grid;
    align-content: start;
    row-gap: em(8, 16);
    &:not(:last-child) {
      margin-bottom: em(25, 16);
    }
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__button {
    display: inline-block;
    justify-self: end;
    font-size: inherit;
    min-height: em(40, 16);
    min-width: em(275, 16);
    @media (max-width: $mobileSmall) {
			min-width: 100%
    }
  }
}

.payback-list-item {
  font-weight: 600;
  color: #002878;
  &_total-items {
  }

  &_shipping {
    color: rgba(86, 86, 86, 0.52);
  }

  &_payable-amount {
    padding-top: em(25, 16);
    & .payback-list-item__name {
      display: flex;
      flex-direction: column;
      & span {
        @include adaptiveValue('font-size', 12, 10);
        color: rgba(86, 86, 86, 0.52);
      }
    }
    & .payback-list-item__value {
      @include adaptiveValue('font-size', 24, 16);
    }
  }
}
