.catalog {
  position: fixed;
  top: 0;
  left: -150%;
  height: 100vh;
  display: flex;
  justify-content: start;
  background-color: #fff;
  transition: left 0.8s ease;
  z-index: 999;
  &--active {
    left: 0;
  }
  &__close-btn {
    position: absolute;
    top: 3%;
    right: rem(-70);
    width: 1em;
    height: 1em;
    @include adaptiveValue("font-size", 50, 40, 0, $containerWidth, 991);
    background-color: transparent;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.column-style {
  overflow: auto;
  display: grid;
  align-content: flex-start;
  height: 100%;
  // padding: rem(46) rem(107) rem(41) rem(40);
  @include adaptiveValue("padding-top", 46, 26, 0, $containerWidth, 991);
  @include adaptiveValue("padding-right", 107, 26, 0, $containerWidth, 991);
  @include adaptiveValue("padding-bottom", 41, 26, 0, $containerWidth, 991);
  @include adaptiveValue("padding-left", 40, 26, 0, $containerWidth, 991);
  @include adaptiveValue("width", 497, 300, 0, $containerWidth, 991);
  border-right: 1px solid #bdbdbd;
  scrollbar-color: #acacac transparent;
  scrollbar-width: thin;
  &::-webkit-scrollbar {
    width: rem(10);
    background-color: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #acacac;
    border-radius: rem(27);
  }
}

.main-column-catalog {
  height: 100%;
  &__list {
    row-gap: rem(13);
  }
  &__link {
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: start;
    column-gap: rem(27);
    font-weight: 500;
    line-height: math.div(24, 20);
    padding: rem(8) rem(25);
    border-radius: rem(26);
    transition: background-color 0.1s ease, color 0.1s ease;
    &::before {
      @include adaptiveValue("font-size", 40, 30);
      width: 1em;
      height: 1em;
    }
    &:hover {
      background-color: $mainBlue;
      color: #fff;
    }
    &._active {
      background-color: $mainBlue;
      color: #fff;
    }
  }
}

.column-catalog {
  display: none;
  height: 100%;
  &._active {
    display: block;
  }
  &__item {
    height: 100%;
    display: none;
    @include adaptiveValue("padding-top", 46, 36, 0, $containerWidth, 991);
    @include adaptiveValue("padding-right", 77, 26, 0, $containerWidth, 991);
    @include adaptiveValue("padding-bottom", 41, 26, 0, $containerWidth, 991);
    padding-bottom: 21;
    &--active {
      display: block;
    }
  }
  &__title {
    font-weight: 700;
    @include adaptiveValue("font-size", 32, 22, 0, $containerWidth, 991);
    line-height: math.div(39, 32);
    margin-bottom: 1em;
    padding-left: rem(20);
  }
}

.drop-menu-list {
  height: 100%;
  display: grid;
  @include adaptiveValue("row-gap", 15, 10, 0, $containerWidth, 991);
  align-content: flex-start;
  &__link {
    font-weight: 500;
    font-weight: normal;
    line-height: math.div(24, 20);
    color: #575757;
    display: flex;
    padding: rem(16) rem(27);
    @include adaptiveValue("padding-top", 16, 10, 0, $containerWidth, 991.98);
    @include adaptiveValue(
      "padding-bottom",
      16,
      10,
      0,
      $containerWidth,
      991.98
    );
    @include adaptiveValue("padding-right", 27, 20, 0, $containerWidth, 991.98);
    @include adaptiveValue("padding-left", 27, 20, 0, $containerWidth, 991.98);
    border-radius: rem(26);
    background-color: transparent;
    transition: background-color 0.1s ease, color 0.1s ease;
    &[data-second-category] {
      flex-direction: row-reverse;
      justify-content: space-between;
      &::before {
        content: "\e902";
        @extend %ic;
        font-size: rem(10);
        transform: rotate(-90deg);
        color: transparent;
        transition: color 0.3s ease;
      }
    }
    &:hover {
      background-color: #ececec;
      color: $mainColor;
      &::before {
        color: $mainColor;
      }
    }
    &._active {
      background-color: #ececec;
      color: $mainColor;
      &::before {
        color: $mainColor;
      }
    }
  }
}
