// Заголовки, загальні БЕМ блоки та інше...
.body-lock {
  overflow: hidden;
  position: relative;
  &::after {
    content: "";
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 51;
  }
}

._footer-title {
  font-weight: 500;
  font-size: rem(16);
  line-height: math.div(20, 16);
}
