// Заголовки, загальні БЕМ блоки та інше...
.page {
  @include adaptiveValue("padding-top", 175, 150, 0, $containerWidth, 992);
  @media (max-width: $tablet) {
    @include adaptiveValue("padding-top", 95, 70);
  }
}

.body-lock {
  overflow: hidden;
  position: relative;
  &::after {
    content: "";
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 51;
  }
}

._footer-title {
  font-weight: 500;
  font-size: rem(16);
  line-height: math.div(20, 16);
}

.slider-arrow {
  border-radius: 50%;
  height: em(65, 20);
  width: em(65, 20);
  background-color: #cdcdcd;
  display: flex;
  align-items: center;
  justify-content: center;
  @include adaptiveValue("font-size", 20, 16);
  cursor: pinter;
  transition: all 0.3s ease;

  &_prev {
  }

  &_next {
    &::before {
      transform: rotate(-180deg);
    }
  }
  @media (any-hover: hover) {
    &:hover {
      color: #fff;
      background-color: #bab9b9;
    }
  }
}

.swiper-pagination-bullets {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: rem(7);
  @media (max-width: $tablet) {
    @include adaptiveValue("column-gap", 10, 8);
  }
}

.swiper-pagination-bullet {
  cursor: pointer;
  padding: rem(5) rem(0);
  flex: 0 0 rem(61);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: flex-basis 0.3s ease;
  height: rem(5);
  &::before {
    content: "";
    height: rem(3);
    width: 100%;
    background-color: #d9d9d9;
    border-radius: 5px;
    transition: height 0.3s ease, background-color 0.3s ease;
  }
  @media (max-width: $tablet) {
    height: rem(13);
    flex: 0 0 rem(13);
    border-radius: 50%;
    &::before {
      height: rem(10);
      width: rem(10);
      border-radius: 50%;
    }
  }
}

.swiper-pagination-bullet-active {
  flex: 0 0 rem(122);
  &::before {
    content: "";
    background-color: $mainBlue;
    height: rem(5);
  }
  @media (max-width: $tablet) {
    height: rem(13);
    flex: 0 0 rem(13);
    border-radius: 50%;
    &::before {
      height: rem(10);
      width: rem(10);
      border-radius: 50%;
    }
  }
}

._title {
  font-weight: 700;
  @include adaptiveValue("font-size", 36, 16);
  line-height: math.div(44, 36);
}

.products-slider {
  padding-top: rem(20);
  padding-bottom: rem(25);

  &__header {
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 40, 20);
    }
  }

  &__slider {
    padding: rem(20);
    margin: rem(-20);
    position: relative;
  }

  &__wrapper {
  }

  &__slide {
    height: 100%;
  }
  &__arrow-prev,
  &__arrow-next {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    @media (max-width: $mobile) {
      display: none;
    }
  }
  &__arrow-next {
    left: auto;
    right: 0;
  }
}

.product-card {
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr;
  &__header {
    position: relative;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.18);
    background-color: #f5f5f5;
    border-radius: rem(30);
    transition: box-shadow 0.3s ease;
    @media (any-hover: hover) {
      &:hover {
        box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.28);
      }
    }
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 28, 12);
    }
  }

  &__image-ibg {
    padding-bottom: percent(378, 277);
    border-radius: rem(30);
    display: block;
  }

  &__btn {
    position: absolute;
    bottom: percent(-19, 379);
    right: percent(12, 278);
    z-index: 3;
    @include adaptiveValue("width", 62, 35);
    @include adaptiveValue("height", 62, 35);
    border-radius: 50%;
    background-color: $mainBlue;
    display: flex;
    align-items: center;
    justify-content: center;
    &::before {
      @include adaptiveValue("font-size", 23, 16);
      color: #fff;
    }
  }

  &__favorite {
    position: absolute;
    top: percent(20, 379);
    right: percent(20, 278);
    z-index: 3;
    color: $mainBlue;
    @include adaptiveValue("font-size", 22, 15);
  }

  &__discount {
    position: absolute;
    z-index: 3;
    background: #ff0000;
    border-radius: em(8, 20);
    color: #fff;
    padding: em(3, 20) em(12, 20);
    @include adaptiveValue("font-size", 20, 10);
    line-height: math.div(24, 20);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 700;
    bottom: percent(20, 379);
    left: percent(20, 278);
  }

  &__body {
    display: flex;
    flex-direction: column;
  }

  &__price {
    font-weight: 700;
    @include adaptiveValue("font-size", 32, 12);
    line-height: percent(32, 39);
    color: #2f2f2f;
    display: flex;
    align-items: center;
    column-gap: em(15, 32);
    &:not(:last-child) {
      margin-bottom: rem(4);
    }
    & span {
      font-weight: 500;
      @include adaptiveValue("font-size", 26, 10);
      line-height: percent(26, 32);
      color: #616161;
      text-decoration: line-through;
    }
  }

  &__title {
    flex: 1 1 auto;
    &:not(:last-child) {
      margin-bottom: rem(4);
    }
  }

  &__title-link {
    font-weight: 700;
    @include adaptiveValue("font-size", 24, 12);
    line-height: percent(29, 24);
    color: $mainBlue;
    @media (any-hover: hover) {
      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__description {
    flex: 1 1 auto;
    color: #616161;
    @include adaptiveValue("font-size", 20, 12);
    &:not(:last-child) {
      margin-bottom: rem(8);
    }
  }

  &__stock {
    padding: em(2, 14) em(10, 14);
    @include adaptiveValue("font-size", 14, 10);
    color: #fff;
    background-color: #2caa00;
    border-radius: em(45, 14);
    display: inline-flex;
    align-items: center;
    column-gap: rem(5);
    align-self: flex-start;
    &::before {
      font-size: rem(6);
    }
  }
}
