.bonus {
  &__container {
  }

  &__body {
    padding-top: rem(180);
    @media (max-width: $tablet) {
      padding-top: rem(100);
    }
    @media (max-width: $mobile) {
      padding-top: rem(80);
    }
    display: flex;
  }

  &__item {
    display: flex;
    align-items: center;
  }

  &__icon {
  }

  &__text {
  }
}

.mainslider {
  &__container {
  }

  &__slider {
    width: 100%;
    min-width: 0;
    border-radius: rem(25);
    position: relative;
  }

  &__wrapper {
  }

  &__slide {
  }

  &__arrow-prev,
  &__arrow-next {
    position: absolute;
    top: 50%;
    left: 2%;
    transform: translateY(-50%);
  }
  &__arrow-next {
    left: auto;
    right: 2%;
  }

  &__pagination {
    padding: rem(20) rem(0);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.slide-mainslider {
  &__img-ibg {
    padding-top: rem(377);
    max-width: 100%;
  }
}
