.bonus {
  @media (max-width: $mobile) {
    display: none;
  }
  &__body {
    padding-bottom: rem(15);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    // text-align: center;
    row-gap: rem(5);
    @include adaptiveValue("column-gap", 96, 15);
  }

  &__item {
    display: flex;
    align-items: center;
    column-gap: rem(5);
    // flex: 1 0 auto;
  }

  &__icon {
    flex: 0 0 rem(40);
    width: rem(40);
    height: rem(40);
    display: flex;
    justify-content: center;
    align-items: center;
    color: $mainBlue;
    font-size: rem(24);
  }

  &__text {
    flex: 1 0 auto;
    // white-space: nowrap;
  }
}

.mainslider {
  &__slider {
    width: 100%;
    min-width: 0;
    position: relative;
    @include adaptiveValue("border-radius", 25, 11);
  }

  &__arrow-prev,
  &__arrow-next {
    position: absolute;
    top: 50%;
    left: 2%;
    transform: translateY(-50%);
    @media (max-width: $tablet) {
      left: 0;
    }
    @media (max-width: $mobile) {
      display: none;
    }
  }
  &__arrow-next {
    left: auto;
    right: 2%;
    @media (max-width: $tablet) {
      right: 0;
    }
  }

  &__pagination {
    padding: rem(20) rem(0);
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width: $tablet) {
      @include adaptiveValue("padding-top", 20, 10);
      @include adaptiveValue("padding-bottom", 20, 10);
    }
  }
}

.slide-mainslider {
  &__img-ibg {
    @include adaptiveValue("min-height", 377, 168);
    width: 100%;
  }
}

.catalog-cards {
  padding-top: rem(20);
  padding-bottom: rem(20);
  &__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(rem(299), 1fr));
    @include adaptiveValue("row-gap", 77, 15);
    @include adaptiveValue("column-gap", 80, 15);
    justify-content: center;
    @media (max-width: $pc) {
      grid-template-columns: repeat(
        auto-fit,
        minmax(
          calc(135px + (299 - 135) * ((100vw - 320px) / (1920 - 320))),
          1fr
        )
      );
    }
  }
}

.item-catalog-cards {
  display: grid;
  align-items: flex-start;
  justify-content: center;
  @include adaptiveValue("row-gap", 20, 5);
  &__title {
    text-align: center;
  }

  &__title-link {
    font-weight: 500;
    @include adaptiveValue("font-size", 27, 14);
    color: #4d4d4d;
  }

  &__image {
    position: relative;
    border-radius: 50%;
    @include adaptiveValue("width", 299, 135);
    @include adaptiveValue("height", 299, 135);
    & img {
      position: absolute;
      width: 90%;
      height: 90%;
      top: -5%;
      left: 50%;
      transform: translateX(-50%);
      object-fit: contain;
    }
    &_darkblue {
      background-color: #3b7c99;
    }
    &_lightblue {
      background-color: #7da4bd;
    }
    &_yellow {
      background-color: #e1c31e;
    }
    &_green {
      background-color: #c5ddb4;
    }
    &_purple {
      background-color: #b7bfe0;
    }
  }
}
