.main-catalog {
  &__title {
    color: $mainDarkBlue;
    font-weight: 600;
    &:not(:last-child) {
      margin-bottom: em(32, 36);
    }
  }

  &__recommendations {
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 32, 15);
    }
  }

  &__filters {
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 15, 5);
    }
  }

  &__product-quantity {
    display: flex;
    column-gap: rem(6);
    color: $mainDarkBlue;
    @include adaptiveValue("font-size", 20, 14);
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 30, 15);
    }
    & span {
      font-weight: 600;
    }
  }
  &__products {
    display: grid;
    @include adaptiveValue("column-gap", 25, 20);
    @include adaptiveValue("row-gap", 30, 25);
    grid-template-columns: repeat(auto-fit, minmax(rem(120), rem(280)));
    justify-content: center;
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 65, 30);
    }
    @media (max-width: $mobile) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__pagging {
    @include adaptiveValue("margin-bottom", 65, 30);
  }
}

.recommendations {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  row-gap: rem(5);
  @include adaptiveValue("column-gap", 25, 15);
  &__item {
    cursor: pointer;
    font-weight: 500;
    background-color: #eaf1f8;
    border-radius: em(56, 20);
    padding: em(10, 20) em(48, 20);
    color: $mainDarkBlue;
    @include adaptiveValue("font-size", 20, 14);
  }
}

.filters-catalog {
  @media (min-width: $tablet) {
    position: sticky;
    @include adaptiveValue("top", 95, 60);
    z-index: 150;
  }
  position: static;
  background-color: #fff;
  padding-bottom: rem(10);
  &__form {
    display: flex;
    align-items: center;
    @include adaptiveValue("column-gap", 25, 15);
    flex-wrap: wrap;
    row-gap: rem(5);
    @media (max-width: $mobile) {
      overflow: auto;
    }
  }
}
