.navbar-menu {
  display: none;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  background: #fff;
  padding: 0 rem(4);
  z-index: 152;
  box-shadow: 0 4px 20px rgb(0 0 0 / 10%);
  @media (max-width: $tablet) {
    display: block;
  }
  &__wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: rem(10) rem(0);
    min-height: $mobileNavBarHeight;
    font-size: rem(24);
		cursor: pointer;
  }
  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1em;
    height: 1em;
    color: $mainBlue;
  }
}

.catalog-navbar {
  display: none;
  position: fixed;
  padding: rem(15);
  height: calc(100% - $mobileNavBarHeight);
  inset: 0;
  background-color: rgba($color: #000000, $alpha: 0.8);
  background-color: #fff;
  z-index: 150;
  &._active {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr;
    @media (max-width: $tablet) {
      @include adaptiveValue("row-gap", 20, 10, 0, 992, 320);
    }
  }
  &__search {
    min-height: rem(54);
    width: 100%;
    background-color: #eaf1f8;
    border: 1px solid rgba(65, 116, 164, 0.48);
    border-radius: rem(50);
    display: flex;
    justify-content: start;
    align-items: center;
    padding: rem(0) rem(20);
    color: $mainBlue;
    @media (max-width: $tablet) {
      @include adaptiveValue("min-height", 55, 45, 0, 992, 320);
    }
  }
  &__catalog {
    position: relative;
    height: 100%;
  }
}

.search-menu-navbar {
  position: fixed;
  inset: 0;
  background-color: #fff;
  z-index: 200;
  display: none;
  &._active {
    display: block;
  }
  &__wrapper {
    padding: rem(15);
    display: grid;
    grid-template-rows: auto 1fr;
    height: 100%;
    align-items: flex-start;
    row-gap: rem(30);
  }
  &__search {
    display: flex;
    column-gap: 5px;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    color: red;
  }

  &__close {
    font-size: rem(16);
  }

  &__list {
    display: grid;
    align-items: flex-start;
    row-gap: rem(20);
  }

  &__link {
    font-size: rem(18);
    color: #242424;
    display: flex;
    align-items: center;
    column-gap: rem(10);
    font-weight: 500;
    &::before {
      color: #c2c2c2;
    }
  }
}
